<h2>Products</h2>
<a href="/form-products">Crear Productos</a>
<hr>

<div class="card-group">
 
    {{#each products}}
     <div class="card">
            <img class="card-img-top" src="{{this.image}}" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
            </div>
            <div>    
                <a href="#" class="btn btn-primary">$ {{this.price}}</a>
            </div>
       </div>     
    {{/each}}
  
</div>